/* Supporting Content */
code {
  --border-radius: 3px;
  --padding-block: 0.2rem;
  --padding-inline: 0.3rem;
  font-family: var(--font-mono);
  font-size: 0.85em;
  color: var(--theme-code-inline-text);
  background-color: var(--theme-code-inline-bg);
  padding: var(--padding-block) var(--padding-inline);
  margin: calc(var(--padding-block) * -1) 0;
  border-radius: var(--border-radius);
  word-break: break-word;
}

a > code {
  position: relative;
  color: var(--theme-text-accent);
  text-underline-offset: var(--padding-block);
}
strong {
  font-weight: 600;
  color: inherit;
}

/*RTL Fix Code dir for inline code*/
[dir="rtl"] code {
  unicode-bidi: plaintext;
}

/*RTL Fix codeBlock base in Shiki output*/
[dir="rtl"] span.line {
  direction: ltr;
  unicode-bidi: isolate;
}

/*RTL Fix Arrows*/
[dir="rtl"] .toc-mobile-container svg {
  transform: rotateY(180deg);
}
