---
---

<div class="mt-3 p-6 rounded-lg shadow-md mx-auto border border-red-300">
  <h2
    class="md mx-auto bg-gradient-orange text-transparent bg-clip-text font-semibold w-fit text-center mb-3"
  >
    Subscribe to SundayScript
  </h2>
  <p
    class="my-2 text-sm text-center font-semibold bg-gradient-to-r from-orange-400 to-orange-500 text-transparent bg-clip-text"
  >
    Elevate Your Code! Subscribe to my newsletter SundayScript for Weekly
    Inspiration.
  </p>
  <form id="subscribe-form">
    <!-- Added an ID to the form for easier selection -->
    <div class="flex flex-col justify-center rounded-sm">
      <iframe
        src="https://embeds.beehiiv.com/46586c18-b155-4e40-8eb7-72008a83a8c8?slim=true"
        data-test-id="beehiiv-embed"
        height="52"
        frameborder="0"
        scrolling="no"
        class="bg-transparent rounded-lg outline-none w-full"></iframe>
    </div>
  </form>
</div>
